.container_ArdDesc {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dot1,
.dot2,
.dot3 {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
}
.square {
  height: 40px;
  width: 40px;
  background-color: #00bbbc;
  display: inline-block;
}
.icons_button2 {
  margin-top: 7px;
  font-size: 27px;
}
.icons {
  width: 100%;
  display: flex;
}
.four {
  flex: 0.95;
}
.serial {
  flex: 0.05;
  width: 100%;
  position: relative;
}
.icons_button3 {
  font-size: 25px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.dot1 {
  background-color: #ff625a;
}
.dot2 {
  background-color: #fec12d;
}
.dot3 {
  background-color: #2bc941;
}

.topBar {
  user-select: none;
  color: #000;
  font-size: 1vw;
  font-weight: normal;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#f6f6f6, #d8d8d8);
  width: 100%;
  flex: 0.05;
  justify-content: center;
  position: relative;
}
.MuiIconButton-root {
  padding-right: 7px !important;
  padding-left: 7px !important;
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}
.macDots {
  position: absolute;
  display: flex;
  left: 0;
  margin-left: 8px;
  flex: 0.1;
}
.topBar_title {
  width: 100%;
  flex: 0.9;
  display: flex;
  align-items: center;
}
.topIcons {
  width: 100%;
  background-color: #006769;
  display: flex;
  align-items: center;
  flex: 0.05;
}
.icons_button {
  font-size: 35px;
}
.tabSection {
  width: 100%;
  display: flex;
  flex: 0.06;
  background-color: #00a5a6;
}
/* .tabs1 {
  margin-top: 10px;
  flex: 0.15;
  height: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  user-select: none;
  font-size: 1vw;
  width: fit-content;
  margin-left: 10px;
  margin-right: 3px;
  background-color: white;
  font-family: monospace;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
} */
.tabs1 {
  margin-top: 1vw;
  flex: 0.15;
  height: 2.75vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  user-select: none;
  font-size: 1vw;
  width: fit-content;
  margin-left: 10px;
  margin-right: 3px;
  background-color: white;
  font-family: monospace;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* .tabs2,
.tabs3 {
  user-select: none;
  margin-top: 10px;
  flex: 0.15;
  height: 38px;
  border-top-left-radius: 5px;
  font-size: 1vw;
  border-top-right-radius: 5px;
  background-color: #47b9be;
  width: fit-content;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  display: flex;
  font-family: monospace;
  align-items: center;
  justify-content: center;
} */
.tabs2,
.tabs3 {
  user-select: none;
  margin-top: 1vw;
  flex: 0.15;
  height: 2.75vw;
  border-top-left-radius: 5px;
  font-size: 1vw;
  border-top-right-radius: 5px;
  background-color: #47b9be;
  width: fit-content;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  display: flex;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

.tabs2:hover,
.tabs3:hover {
  background: #98feff;
}
.codingSection {
  width: 100%;
  overflow-y: scroll;
  user-select: none;
  flex: 0.68;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.text_content {
  padding: 2vw;
  font-family: monospace;
  font-size: 1.2vw;
}
.footPart {
  width: 100%;
  flex: 0.06;
  background-color: #00a5a6;
}
.footPart_Black {
  width: 100%;
  flex: 0.1;
  color: #d8d8d8;
  background-color: black;
}
.footPart_DarkG {
  width: 100%;
  flex: 0.04;
  background-color: #006769;
}
.toast1 {
  margin: 1.4vw;
  padding: 0.2vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  height: 2vw;
  background-color: #323232;
  color: #f6f6f6;
  z-index: 10;
}
.codingSection::-webkit-scrollbar {
  width: 5px;
}
.codingSection::-webkit-scrollbar-thumb {
  background: #47b9be;
  border-radius: 20px;
}
.codingSection::-webkit-scrollbar-track {
  border-radius: 10px;
}
@media (max-width: 600px) {
  .tabs1,
  .tabs2,
  .tabs3 {
    min-width: fit-content;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    font-size: 3vw;
  }
  .text_content {
    padding: 2vw;
    font-family: monospace;
    font-size: large !important;
  }
}
#alink_ard {
  font-size: 1.2vw;
}
