.dashboard-full{
    display: flex;
    height: 100vh;
}

/* .dashboard-full *{
    background: transparent;
} */

.dashboard-navbar{
    position: fixed;
    top: 0%;
    left: 250px;
    display: flex;
    height: fit-content;
    padding-top: 15px;
    width: 100%;
    /* background-color: #40CFCD; */
}

.dashboard-navbar a div{
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
}

.dashboard-remainder{
    height: 100%;
}

.dashboard-left{
    height: 100vh;
    flex: 0.6;
    background-color: white;
    padding-top: 70px;
}

.dashboard-right{
    padding-top: 70px !important;
    height: 100vh;
    flex: 0.4;
    padding: 20px;
    position: relative;
}

.dashboard-indicator{
    padding: 5% 20%;
}

.dashboard-indicator > h3{
    font-family: "Poppins", sans-serif;
    font-size: 4vh;
}

.dashboard-indicator > p{
    letter-spacing: 8px;
    font-family: "Noto Sans", sans-serif;
}

.upcoming-events-list{
    width: 100%;
    height: 50%;
    /* box-shadow: -1px 2px 25px 10px rgb(206, 206, 206); */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    padding: 10px;
}

.upcoming-events-list > small {
    /* font-weight: 600; */
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 10px; */
    color: rgb(143, 143, 143);
    margin-left: 8%;
}

.dashboard-newsLetter>small{
    font-family: "Poppins", sans-serif;
    color: rgb(143, 143, 143);
}

.carousel{
    width: 100% !important;
    height: 80% !important;
    padding: 0% 7%;
}

.carousel-control-prev , .carousel-control-next{
    top: 35% !important;
    bottom: 35% !important;
    width: 5% !important;
    /* background-color: rgb(223, 223, 223); */
    background-image: none !important;   
}
/* 
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  } */

.remainders-container{
    min-height: 20vh;
    padding: 20px;
}

.dashboard-remainder{
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    display: flex;
    height: 100%;
    /* background-color: #A165FB; */
    background-color: #593EC2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "Noto Sans", sans-serif;
    color: white;
}

.no-rem{
    padding: 5%;
    font-family: "Poppins" , sans-serif;
    text-align: center;
}

.remainder-left{
    flex: 0.9;
}

.remainder-right{
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins" , sans-serif;
}

.remainder-right > div{
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 3px 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

.remainder-left > small {
    color: rgb(192, 192, 192);
    font-family: "Poppins", sans-serif;
}

.remainder-left > label{
    font-size: 1.2rem;
}

/* .carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 35px;
    color: red;
  } */
 .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-item div div img{
    height: 100%;
}

.carousel-inner{
    height: 100% !important;
}

/* .carousel-item div{
    height: 100% !important;
} */

.carousel-item > h5{
    font-family: "RockNRoll One", sans-serif;
}

.carousel-item > div > div {
    margin-top: 7%;
}

.carousel-item > div > div > p{
    margin-left: 10%;
    font-family: "Noto Sans", sans-serif;
}

.dashboard-upcomingDetails{
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard-upcomingDetails > div:nth-child(1){
    flex: 50%;
    display: inline-block;
    height: 100%;
}

.dashboard-upcomingDetails > div:last-child{
    flex: 50%;
}

.dashboard-upcomingDetails > div:last-child > img{
    width: 100%;
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.carousel-indicators{
    display: none;
}

.dashboard-eventForm{
    text-decoration: none !important;
    margin: 15%;
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    cursor: pointer;
}

.dashboard-eventForm:hover{
    color: white;
}

.delete-eventsButton{
    margin-top: 10%;
    margin-left: 2%;
    background-color: #593EC2;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.delete-eventsButton:hover{
    transform: scale(1.1 , 1.1);
    transition: 0.5s;
}

.dashboard-leftBottom{
    display: flex;
    justify-content: space-between;
}

.dashboard-subNumber{
    margin-right: 10%;
}

.dashboard-newsLetter{
    margin: 20px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 20px;
    border-radius: 10px;
    height: 60%;
    width: 60%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.dashboard-newsLetter > h5{
    font-family: "RockNRoll One" , sans-serif;
}

.dash-newsContent{
    padding: 20px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newsContent-input{
    border-radius: 5px;
    outline: none;
    padding: 3px;
    box-shadow: none;
}

.news-inputSend{
    width: fit-content;
    text-decoration: none !important;
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    cursor: pointer;
}

/*Members Page CSS*/
.admin-membersFull{
    height: 100vh;
    width: 100%;
    padding-top: 70px !important;
    /* padding-bottom: 30px !important; */
    padding: 20px;
    position: relative;
}

.cluster-cardHolder{
    display: flex;
    height: 100%;
}

.cluster1-members{
    /* background-color:  rgb(240, 240, 240); */
    /* flex: 0.33; */
    width: 100%;
    /* background-color: black; */
    height: 75%;
    padding: 10px !important;
}

.clusters-carousel{
    height: 100% !important;
}

.rec-carousel-item-visible{
    /* box-shadow: -1px 2px 25px 10px rgb(202, 202, 202); */
}

.rec-pagination{
    display: none !important;
}

.rec-carousel-item{
    width: 200%;
}

/* .rec-item-wrapper{
    width: 200% !important;
} */

.galrjd ,.jIRtgb, .kFXEwu, .tXlBS, .gXOAgM{
    height: 100% !important;
}

.jIRtgb{
    display: block !important;
    color: rgb(255, 255, 255) !important;
}

.single-carouselCard{
    display: flex;
    border-radius: 15px;
    height: 100%;
    background: linear-gradient(200deg,#ED213A 0% 50%, #93291E 50% 100%);
}

.cluster-singleTeam{
    display: flex;
    height: 100%;
    min-width: 10%;
    padding: 15px;
}

.cluster-singleTeam > p{
    writing-mode: vertical-rl;
    align-self: flex-end;
    font-family: "RockNRoll One" , sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    /* margin: auto; */
    color: white;
    transform: rotate(180deg);
    margin-bottom: 50px;
}

.cluster-singleMember{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* background-color: #fff; */
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.cluster-singleMember > img{
    margin-right: 5%;
    border-radius: 50%;
} 

.cluster-singleMember > p{
    margin-bottom: 0% !important;
    color: rgb(255, 255, 255) !important;
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.admin-members-modal{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%);
    background-color: white;
    display: none;
}

.change-deleteHolder{
    display: flex;
    justify-content: space-evenly;
}

.hocus-color{
    color: black !important;
    text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-top: 8%;
  font-size: 0.8rem;
}

.change-password *{
    background: transparent !important;
}

/* .modal-open * {
    background: transparent !important;
} */


.fade , .modal , .show  {
    background-color: rgb(197, 197, 197, 0.2);
}

.modal-dialog {
    background: transparent !important;
}

.modal-90w *{
    background: white !important;
}

/* .modal-header *{
    background: transparent !important;
} */

.password-inputsHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.password-inputsHolder > input{
    margin-bottom: 20px;
    outline: none;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    width: 50%;
}