@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&family=Poppins:wght@100;300&display=swap');
.events > h1 {
   font-weight: normal;
   margin: 30px 5vw;
   color: rgb(255, 255, 255);
   font-size: 4vh;
   font-family: 'RocknRoll One', sans-serif;
}
.events {
    padding-top: 12vh;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.timeline_item{
    background-color: #6eaeda;
    color: aliceblue;
}
.timeline_item *{
    background-color: #6eaeda;
    color: black;
}
.events-upcoming {
    width: 80vw;
    margin: 10px auto;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}
.upcoming-time {
    background-color: #ffd270;
    color: #6eaeda;
    border-radius: 50%;
    border: 2px white solid;
    font-family: "Poppins", sans-serif;
    width: 100px;
    height: 100px;
    position: relative;
}
.upcoming-time * {
    background-color: transparent;
}
.upcoming-time span:first-child {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: black;
}
.upcoming-time span:last-child {
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 13px;
    color: black;
}
.upcoming-desc {
    border: 2px #6eaeda solid;
    background-color: #6eaeda;
    padding: 15px;    
    flex: 0.95;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}
.upcoming-desc * {
    background-color: #6eaeda;
}
.upcoming-desc h4{
    font-weight: 700;
}
.upcoming-desc > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upcoming-desc a {
    outline: none;
}
.upcoming-desc p{
   margin-bottom: 0;
}
.events-upcoming button {
    background-color: #ffd270;
    color: black;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding: 3px 10px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    /* border: 2px white solid; */
}
.events-upcoming a {
    color: red;
    outline: none;
}
.events_container {
	height: fit-content;
    width: 90vw;
    margin: 10px auto;
}
.events_container::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	height: var(--height);
	background-color: #60e3f7;
}
.timeline_item {
    width: 100%;
    max-height: 225px;
    display: flex;
    position: relative;
    border: 2px solid #0599b0;
    border-radius: 5px;
}
.event_single:nth-child(odd) .timeline_item {
	flex-direction: row;
}
.event_single:nth-child(odd) .timeline_item {
	flex-direction: row-reverse;
}
.event_single {
    width: 45%;
}
.event_single:nth-child(odd) {
	clear: both;
	float: left;
	left: 30px;
}
.event_single:nth-child(even) {
	clear: both;
	float: right;
	right: 30px;
}
.event_single:last-child {
	margin-bottom: 30px;
}
.timeline_item img {
    object-fit: cover;
    width: 220px;
    height: 220px;
    align-self: center;
}
.timeline_item > div {
    margin: 10px;
    align-self: center;
	position: relative;
}

.timeline_item p {
    margin-top: 7px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-family: 'Poppins', sans-serif;
}
.upcoming-desc p {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-family: 'Poppins', sans-serif;
}
.timeline_item  h3{
    margin: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'Poppins', sans-serif;
}
#linkTag, #linkTag * {
    color: red;
}
.event_single:nth-child(odd) .timeline_item span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 15px ;
    padding: 7px;
    font-weight: bold;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.6);
}
.event_single:nth-child(even) .timeline_item span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    border-radius: 0 0 15px 0 ;
    font-weight: bold;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.6);
}
.timeline_item a {
    position: absolute !important;
    right: 10px !important;
    bottom: 10px !important;
    outline: none;
}

.timeline_tag {
	width: 30px;
	height: 30px;
	background-color: #0599b0;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}
.event_single:nth-child(even) .timeline_item::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: -12px;
    z-index: -1;
    transform: rotate(45deg);
    background-color:#0599b0;
}
.event_single:nth-child(odd) .timeline_item::before {
    content: '';
    width: 25px;
    height:25px;
    position: absolute;
    top: 20px;
    right: 0px;
    margin-right: -12px;
    z-index: -1;
    transform: rotate(45deg);
    background-color:#0599b0;
}
.events-upcoming > a {
    display: none;
  }
  #reg-button {
      display: block;
  }
@media (max-width: 1007px) {
    .events-upcoming {
        flex-direction: column;
        height: fit-content;
        border: 2px rgb(1, 12, 38) solid;
        border-radius: 25px;
        background-color: #6eaeda;
    }
    .events > h1 {
        text-align: center;
      }
    .events-upcoming button {
      margin: 10px 0;
    }
    .events-upcoming > a {
        display: block;
      }
    .upcoming-desc {
        border: none;
    }
    .upcoming-desc > div {
        justify-content: center;
    }
    .upcoming-desc a{
        display: none;
    }
    .upcoming-desc h4{
        text-align: center;
     }
    .upcoming-time {
        width: 90px;
        height: 90px;
        margin: 5px 0;
    }
    .events_container{
        box-sizing: content-box;
    }
    .events h1 {
        margin-left: 10vw;
    }
    .events h3 {
        font-size: 0.9em;
        margin-top: 5px;
    }
    .event_single {
        width: 90%;
        align-items: center;
        justify-self: center;
    }
    .events_container::before {
        position: absolute; 
        left: 5%;
    }
    .timeline_tag {
        position: absolute;
        left: 5%;
    }
    .timeline_item img {
        object-fit: cover;
        width: 35vw;
        /* height: 40vw; */
        max-width: 200px;
        max-height: 200px;
        align-self: center;
    }
    .timeline_item > div {
        height: 50vw;
        max-height: 200px;
        font-size: 20px;
      margin: auto 10px;
    }
    .timeline_item a, .timeline_item p {
        font-size: 15px;
    }
    .timeline_item p {
        font-size: 0.8rem;
        margin: 20px 0;
    }
    .event_single:nth-child(odd) {
        clear: both;
        margin-left: 10%;
        margin-top: 20px;
    }
    .event_single:nth-child(even) {
        clear: both;
       float: left;
       margin-left: 10%;
       margin-top: 20px; 
    }
    .event_single:last-child {
       margin-bottom: 10px; 
    }
    .event_single:nth-child(odd) .timeline_item {
        flex-direction: row;
    }
    .event_single:nth-child(odd) .timeline_item {
        flex-direction: row;
    }
    .event_single:nth-child(odd) .timeline_item::before {
        position: absolute;
        top: 20px;
        left: 0px;
        margin-left: -12px;
    }
    .event_single:nth-child(odd) .timeline_item span {
        position: absolute;
        top: 0;
        left: 0;
        width:fit-content;
    font-size: 15px;
    }
    .event_single:nth-child(even) .timeline_item span {
        width:fit-content;
        font-size: 15px;
    }
    .timeline_item a {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
   
}