.main{
  overflow-x: hidden;
  /* overflow-y: hidden; */
  padding-top: 100px;
  position: relative;
  background: linear-gradient(rgb(1, 12, 38) 0% 70%, rgba(0, 70, 117, 0.6));
}

.main *{
background: transparent;
}

.dots-forContact{
position: absolute;
top: 30%;
left: 5%;
}

.contact_navbar{
  background-color:rgb(0, 204, 255);
  width: 100vw;
  height: 7vh;
  color: white;
  padding: 10px;
}
.contact_left{
flex: 0.5;
  /* width: 50vw; */
  /* height: 93vh; */
}
.contact_us{
font-family: "RockNRoll One", sans-serif;
  font-size: 6vh;
  color: white;
  /* padding-top: 50px;
  padding-left: 200px; */
  width: fit-content;
  margin-left: 10vw;
}
.contact_newsletter{
  /* margin-top: 100px;
  margin-left: 80px; */
  /* margin: auto; */
  color: rgb(0, 0, 0);
}
.contact_input>h3{
  /* margin-top: 55px;
  margin-bottom: 10%; */
 text-align: center;
 width: fit-content;
 margin: auto;
 font-family: "RockNRoll One", sans-serif;
 margin-top: 5% !important;
}
.contact_input{
  /* border: 2px solid white; */
  width: 33vw;
  height: 60vh;
  border-radius: 10px;
  /* margin-left: 10px;
  margin-top: -40px; */
  margin: auto;
  padding: 30px;
  background-color: #6eaeda;
}
.contact_input>input{
  /* margin-top:25px;
  margin-left:100px; */
  /* margin: auto; */
  margin-top: 15%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.contact_input>button{
  font-family: "Poppins", sans-serif;
  margin-top: 10%;
  margin-left: 180px;
  /* width: 8vw; */
  padding: 3px 7px;
  text-align: center;
  border-radius: 5px;
  background-color: #000000;
  border: none;
  color: white;
}
.contact_input>p{
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 20%;
  font-size: 12px;
  /* padding-top: 45px;
  padding-left: 10px;
  padding-right: 10px; */
}

.contact_first{
      padding-top: 5%;
    display: flex;
    color: white;
    margin-bottom: 10vh;
}
.contact_right{
  flex: 0.5;
  /* width: 40vw; */
  height: 93vh;
  height: fit-content;
}
#contact_icon{
  /* margin-top: 25px;
  margin-left: 75px; */
  margin-left: 10vw;
  display: flex;
  justify-content: space-around;
  width: 60%;
  /* margin: auto; */
}

#contact_icon>span,b{
  margin-right: 18px;
  font-size:25px;

}
.vr{
  border-left: 3px solid white;

}
#contact_icon>a{
   
  margin: 20px;
 
}.iconimage{
  width: 40px ;
}

.contact_svg{
  margin-left: 10vw;
  width: fit-content;
}

.contact_svg>img{
    width: 30vw;
    height: 40vh;
    margin-top:50px;
    /* margin: auto; */
    /* margin-left: 100px; */
    border-radius: 20%;
}

.contact_middle{
    width: 100vw;
    height: 20vh;
    background-color:rgb(201, 201, 201);
    color: rgb(0, 0, 0);
}

.contact_email , .contact_main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-email, .contact-location{
  font-size: 50px !important;
}

.contact_address{
    display: flex;
    justify-content:space-around;
    padding-top: 10px;
    height: 100%;
}
.contact_address>div{
    font-family: "RockNRoll One" , sans-serif;
}
.email{
    font-size: 40px;
    margin-right:5px ;
}
.contact_email>p , .contact_main > p{
    /* margin-left: 35px; */
    font-size: 15px;
}
.location{
  font-size: 35px;
  margin-left:-20px ;
}
.contact_details{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
    margin-top: 100px;
    color: white;
  }

  .details-left , .details-right{
    flex: 0.5;
  }

  .contact_footer{
    margin-top: 3%;
    font-family: "Poppins" , sans-serif;
    font-size: 12px;
      text-align: center;
      color: white;
  }

  .contact_profile1 > p , .contact_profile2 > p{
    margin-top: 1%;
    font-family: "Noto Sans" , sans-serif;
    font-size: 12px;
  }

  .contact_profile1>img{
      border-radius: 50%;
      margin-bottom: 5%;  
    }
    .contact_profile2>img{
      border-radius: 50%;
      margin-bottom: 5%;
    }
    .contact_profile1{
      width: 20vw;
      height: fit-content;
      text-align: center;
      margin: auto;
    }
    .contact_profile1>div{
      /* padding-top: 15px; */
     font-size: large;
     font-weight: 700;
     font-family: "RockNRoll One", sans-serif;
    }
    .contact_profile2>div{
      /* padding-top: 15px; */
      /* padding-left: 10px; */
      font-family: "RockNRoll One", sans-serif;
      font-size: large;
      font-weight: 700;
    }
    
    .contact_profile2{
      width: 20vw;
      height: fit-content;
      padding-top: 35px;
      margin: auto;
      text-align: center;
    }
    .contact_profile2>h4{
      padding-top: 15px;
    }
  
    @media(max-width:768px){
        .main{
            width: 100%;
            height: 100%;
            
        }
        .contact_navbar{
          width: 100%;
        }
        .contact_first{
            display: flex;
            flex-direction: column;
        }
        .contact_right{
          width: 100%;
          height: 100%;
        }
        .contact_left{
          width: 100%;
        }
        .contact_us{
          margin: auto !important;
          width: fit-content;
          height: fit-content;
          /* margin-left: -120px; */
        }
        #contact_icon{
          margin-top: 10%;
          width: 100% !important;
          margin-left: 0% !important;
        }

        .contact_svg{
          display: none;
        }

        .dots-forContact{
          display: none ;
        }

        .contact_left{
          margin-top: 15%;
        }

        .iconimage{
          width: 35px ;
        }
        #contact_icon>span,b{
          margin-right: 10px;
          font-size:large;
          margin-left: 15px;
        
        }
        .social{
          font-size: x-large;
         
        }
       
        .vr{
          border-left: 3px solid white;
          
        }
        #contact_icon>a{
         
          margin: 10px;
         
        }
        .contact_svg>img{
            width:340px;
            margin-left: 15px;
        }
        .contact_newsletter{
            margin-left: 15px;
        }
       .contact_input{
          width: 320px ;
          height: 380px;
       }
       .contact_input>h3{
         font-size: large;
         padding-left: 15px;
       }
       .contact_input>input{
        /* margin-top:25px;
        margin-left:30px; */
         width: 250px;
        text-align: center;
        border-radius: 10px;
      }
      .contact_input>button{
        margin-left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        text-align: center;
      }
      .contact_input>p{
        width: fit-content;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 10px;

      }
      .contact_middle{
        width: 100%;
        margin-top: -50px;
      }
      .email{
       font-size: small
      }
      .location{
        font-size: small
      }
     
    .contact_address{
        display: flex;
        justify-content:space-evenly;
    }
    .contact_input > p{
      padding-top: 10px !important;
    }

    .contact_address>div{
      font-size:medium;
     }
    .contact_email{
      width: 180px;
      padding-right: 20px;
     }
     .contact_main{
      width: 150px;
      margin-left: 10px;
     }
     .contact_main>p{
        /* width: 120px; */
        text-align: center;
        margin-left: 5px;
      }
      .contact_details{
        /* margin-left: -50px; */
        flex-direction: column;
      }

      .contact_profile1 , .contact_profile2{
        width: 50vw;
      }

      .contact_profile1>div, .contact_profile1 > p{
        /* width:150px; */
        height:fit-content;
        margin-left: -0px;
      }
      .contact_profile2{
        /* margin-left: -10px; */
      }
      .contact_profile2>div, .contact_profile2 > p{
        /* width:150px; */
        height:fit-content;
        margin-left: 5px;
       
      }

      .contact_email > p , .contact_main > p{
        font-size: 12px !important;
      }

      .contact_footer{
        /* margin-left: 120px; */
      }
     
    }