.headerFull{
    z-index: 10000000;
}

#navbar-burger {
    display: none;
}
#navbar-cancel {
    display: none;
    color: aliceblue;
}

nav{
    background: rgb(1, 12, 38 , 0.8) !important;
    /* backdrop-filter: blur(10px); */
}

.navbar-brand{
    margin: 0px 0vw 0px 15vw;
    font-family: 'Neucha', cursive;
    font-size: xx-large !important;
    letter-spacing: 10px;
    color: white !important;
    font-weight: 800;
}

.navbar-nav{
    margin-left: 62vw;
    margin-right: 5vw;
    width: 10vw;
    font-size: 14px;
    display: flex !important;
    justify-content: space-around !important;
    font-family: 'Poppins', sans-serif;
}
/* 
.inside-nav{
    cursor: none;
} */

.inside-nav:hover{
    text-decoration: none;
}

.navbar-nav{
    width: 100%;
    justify-content: space-around;
}

.inside-nav{
    color: white !important;
}

/* @media(max-width: 768px){
    .navbar-collapse{
        margin-left: 0px;
margin-right: 0px;
width: 100vw;
font-size: 14px;
display: block !important;
justify-content: space-around !important; 
} */

@media (max-width: 769px) { 
    .navbar {
        display: block;    
    }
    #navbar-burger {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: aliceblue;
        cursor: pointer;
        transition: all 1s;
    }
    #navbar-cancel {
        position: absolute;
        top: 20px;
        right: 20px;
        /* display: block; */
        color: aliceblue;
        cursor: pointer;
        transition: all 1s;
    }
    .menu-items *{
        background-color:rgba(1, 12, 38,0.9) ;
        margin: 0;
        padding: 10px 0;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        color: aliceblue;
    }
    .menu-items {
        background-color:rgb(1, 12, 38,0.9) ;
        width: 100%;
        padding: 0;
        margin-left: -15px;
        display: none;
        position: absolute;
        z-index: 1;
        top: 50px;
        height: 0;   
    }
    .show-menu {
        height: 300px;
        display: block;
        /* transition: all 3s;  */
    }
}