.register-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(1, 12, 38) ;
    color: white;
    min-height: 100vh;
}
.register-event > a {
    outline: none;
    margin-bottom: 10px;
}
.register-event img {
    margin: 20px;
    height: 400px;
}
.register-event button {
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: aliceblue;
    color: rgb(1, 12, 38);
    padding: 7px 15px;
    margin: 10px;
}
.register-event button:hover {
    border: 1px solid aliceblue;
    transition: 0.25s;
    color: aliceblue;
    background-color: rgb(1, 12, 38);
}
.register-event > div {
    display: flex;
    height: max-content;
    align-items: center;
    margin: 10px;
}
.register-event span {
    /* width: 80%;   */
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
.register-event > span {
    width: 80%;  
}

.register-event h1 {
    color: rgb(144, 184, 36);
    font-family: 'RocknRoll One', sans-serif;
    margin: 10px;
}
.register-event h3 {
    margin: 10px;
}
.register-event h4,h3 {
    margin: 0;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 1007px)  {
    .register-event p {
        width: 90%;
    }
    .register-event img {
        height: 250px;
    }
}