.scroll-container{
    position: fixed;
    /* top: 0%;
    right: 0%; */
    width: 100vw;
    height: 2px;
    z-index: 100;
    margin-left: 10px
}

.scroll-container .indicator{
    width: 0%;
    height: 2px;
    /* background-color: rgb(175, 175, 175); */
    background-color: #ffffff;
    /* background-color: rgb(17,161,151); */
}

