@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

@font-face {
  font-family: "iot";
  src: local("iot"), url(../fonts/membra.ttf);
}
@font-face {
  font-family: "iot2";
  src: local("iot2"), url(../fonts/Park\ Tech\ CG\ Light.ttf);
}
.carousel-indicators {
  background-color: transparent;
}
.single-event {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: -webkit-fill-available !important;
  background: linear-gradient(rgb(1, 12, 38) 0% 90%, rgba(0, 70, 117, 0.3));
  color: white;
  min-height: 100vh;
}
.whole_singleEvent {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background: transparent !important;
}

.event-leftDiv {
  flex: 0.5;
  width: 100%;
  padding-left: 70px;
  background: transparent !important;
}

.event-rightDiv {
  flex: 0.5;
  width: 100%;
  margin-top: 5%;
  padding-right: 70px;
  /* padding-top: 0;
  padding-left: 0; */
  height: 100%;
  background: transparent !important;
}

.event-leftDiv > h1 {
    background: transparent !important;
  padding: 50px 10%;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 7vh !important;
  width: fit-content;
  font-family: "Roboto", sans-serif;
}

.single-event p {
    background: transparent !important;
  /* width: 50vw; */
  margin: 5% 10px;
  font-family: "Monteserrat", sans-serif;
  color: #c9daf9;
  text-align: justify;
  font-weight: 530;
  line-height: 2rem;
}
.single-event h3 {
    background: transparent !important;
  margin: 20px 10px;
  font-family: "Poppins", sans-serif;
}
.single-event h1 {
    background: transparent !important;
  color: rgb(255, 255, 255);
  font-family: "RockNRoll One", sans-serif;
  font-weight: 200;
  font-size: 1.8vw;
  margin-top: 5%;
  /* margin: 20px; */
  text-align: center;
}

.event-leftDiv .carousel {
    background: transparent !important;
  padding: 0% !important;
}

.event-leftDiv #carousel {
  width: 80% !important;
}

.right-downStats {
    background: transparent !important;
  margin-top: 10% !important;
  margin: 0% 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75px 75px 75px;
}
.right-downStats *{
    background: transparent !important;
}
.single_small {
  color: rgb(192,192,192);
  font-size: 0.8vw;
  font-family: "Poppins", sans-serif;
}
.single_span {
  color: white;
  font-size: 1.2vw;
  margin-top: 3vh;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1100px) {
  .single-event {
    width: -webkit-fill-available !important;
    flex-direction: column;
  }
  .whole_singleEvent {
    flex-direction: column;
    width: 100%;
  }
  .single-event h1 {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .single-event h1 {
    font-size: 35px;
  }
  .event-rightDiv {
    margin-top: 0px;
    padding: 30px;
  }
  .event-leftDiv > h1 {
    padding: 50px 10%;
  }

  .single-event p {
    width: 90%;
    font-size: 14px;
  }
  .single-event img {
    height: 250px;
  }
  .single_small {
    color: wheat;
    font-size: 90%;
  }
  .event-leftDiv #carousel {
    width: 100% !important;
  }
  .single-event p {
    /* width: 50vw; */
    width: 100%;
    margin: 0;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
    font-family: "Noto Sans", sans-serif;
    color: #85aeca;
    text-align: justify;
    font-weight: 500;
    line-height: 2rem;
  }
}
@media (max-width: 600px) {
  .single_span {
    font-size: 4vw;
  }
  .single-event h1 {
    font-size: 35px;
  }
  .event-leftDiv > h1 {
    padding: 50px 10%;
    padding-top: 70px;
    padding-bottom: 0px;
  }
  .event-rightDiv {
    margin-top: 0px;
    padding: 30px;
  }
}