@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

@font-face {
    font-family: 'iot';
    src:local('iot'),url(../fonts/membra.ttf)
}
@font-face {
    font-family: 'iot2';
    src: local('iot2'),url(../fonts/Park\ Tech\ CG\ Light.ttf)
}
.carousel-indicators {
    background-color: transparent;
}
.single-event {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: -webkit-fill-available !important;
background-color: rgb(1, 12, 38) ;
    color: white;
    min-height: 100vh;
}
.whole_singleEvent{
    width:100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.event-leftDiv{
    flex: 0.5;
    padding: 30px;
}

.event-rightDiv{
    flex: 0.5;
    padding: 30px;
    height: 100%;
}

.event-leftDiv > h1{
    padding: 50px 10%;
    width: fit-content;
    font-family: "RocknRoll One", sans-serif;
  
}

.single-event p {
    /* width: 50vw; */
    margin: 5% 10px;   
    font-family: 'Noto Sans', sans-serif;
    color: #85aeca;
    text-align: justify;
    font-weight: 500;
    line-height: 2rem;
}
.single-event h3 {
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
}
.single-event h1 {
    color: rgb(255, 255, 255);
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 200;
    font-size: 35px;
    /* margin: 20px; */
    text-align: center;
}

.event-leftDiv .carousel{
    padding: 0% !important;
}

.event-leftDiv #carousel{
    width: 80% !important;
}

.right-downStats{
    margin-top: 10% !important;
    margin: 0% 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 75px 75px;
}

@media (max-width: 1007px)  {

    .single-event{
        width: -webkit-fill-available !important;
        flex-direction: column;
    }
    .whole_singleEvent{
        width:100%;
    }
    .single-event p {
        width: 90%;
        font-size: 14px;
    }
    .single-event img {
        height: 250px;
    }
    .single_small{
        color:wheat;
        font-size:90%;
    }
    
}